letras = #9C9B87
menu-fondo = #DEDEDE

body
	color letras
	font-family Georgia, "Times New Roman", Times, serif
	font-size 90%

.full-content
	border 3px solid red
	position relative
	padding-bottom 1em
	min-height 25em
	width 90%
	left 5%

/*Header y footer*/

.web-div-header
		width 100%
		height 83px
		background url(../images/smart/marcoup.png) center no-repeat

.footer
	width 100%
	height 200px
	position relative
	bottom 0
	//bottom 10em

	.web-div-footer
		width 100%
		margin 0 auto
		/*
		background url(../images/smart/marco-down.png) center no-repeat
		min-height 154px
		display block
		padding-bottom 20px
			*/

	.copyrigtht
		text-align center

/*css para edad*/
.div-mensaje
	top 50px
	position relative
	text-align center

	a
		text-decoration none
		color letras
		font-size 1.3em

	.div-pregunta
		font-size 1.2em
		background: bottom left repeat-x url(../images/general/borde.png)
		margin-bottom 0.5em
		padding 0 0 1em 0
		width 70%
		margin 0 15%

	.div-respuesta
		display inline-block
		padding 1.2em 1.2em
		font-size 1.5em
		margin-top .5em

	.borde-lateral-derecho
		border-right 1px solid letras

	.borde-lateral-izquierdo
		border-left 3px solid letras










@import "media.styl"
