letras = #9C9B87
menu-fondo = #DEDEDE
body
	color letras
	font-family Georgia, "Times New Roman", Times, serif
	font-size 90%
a
	text-decoration none
nav
	text-align left
	z-index 9999
	.menu
		padding 0
		overflow-x auto
		white-space nowrap
		margin 0 auto
		li
			display inline-block
			a
				color letras
				display block
				padding 0.2em 1em
				margin 0.5em 0.5em
				text-decoration none

.full-content
	position relative
	padding-bottom 1em
	min-height 25em
	width 90%
	left 5%

/*Header y footer*/

.Redes
	width 90%
	left 5%
	min-height 32px
	position relative
	text-align center
	.Redes-iconos
		.icono
			width 25px
			height 21px
			display inline-block
			padding 0 1em
	.Redes-idiomas
		.link-idioma
			display inline-block
			color letras
	&-facebook
		background url(../images/general/fb.png) center no-repeat
	&-twitter
		background url(../images/general/tw.png) center no-repeat
	&-linkedin
		background url(../images/general/linkedin_circle_black-48.png) center no-repeat
		background-size 23px 23px
	&-mail-suscripcion
		background url(../images/general/mail.png) center no-repeat
		background-size 23px 23px

.web-div-header
		width 100%
		height 35px
		background url(../images/smart/marcoup.png) center no-repeat
.footer
	width 100%
	height 35px
	position relative
	bottom 0
	.web-div-footer
		width 100%
	.copyrigtht
		text-align center
.div-imagen
	background url(../images/general/detallech.png) center no-repeat
	height 5em

/*css para edad*/
.div-mensaje
	top 5em
	position relative
	text-align center
	z-index 8889
	a
		text-decoration none
		color letras
		font-size 1.3em
	.div-pregunta
		font-size 1.2em
		background: bottom left repeat-x url(../images/general/borde.png)
		margin-bottom 0.5em
		padding 0 0 1em 0
		width 70%
		margin 0 15%
	.div-respuesta
		display inline-block
		padding 1.2em 1.2em
		font-size 1.5em
		margin-top .5em
	.borde-lateral-derecho
		border-right 3px solid letras
	.borde-lateral-izquierdo
		border-left 3px solid letras

/*pagina de inicio*/
.contenido
	padding 1em 0
	.generaciones
		.titulo
			font-size 1.5em
			text-align center
			font-weight bold
		.generacion
			text-align center
			.g-image
				width 100%
				height 10em
			.g1
				background url(../images/general/marco1ppal.png) center no-repeat
			.g2
				background url(../images/general/marco2ppal.png) center no-repeat
			.g3
				background url(../images/general/marco3ppal.png) center no-repeat
			.g4
				background url(../images/general/marco4ppal.png) center no-repeat
			.g5
				background url(../images/general/marco5ppal.png) center no-repeat
	.mezcal
		background url(../images/general/imagenppal.png) center no-repeat
		margin 0 auto
		height 30em
		width 100%
		background-size 100% 100%
	.inicio-subcontenido
		.inicio-desc
			.img-head
				min-height 3em
				background url(../images/general/ppaldetalleup.png) center no-repeat
				background-size 100% 100%
			.img-footer
				min-height 3em
				background url(../images/general/ppaldetalledown.png) center no-repeat
				background-size 100% 100%
		.promocion
			.promocion-img
				min-height 10em
				background url(../images/general/mezcal-cuerudos-anejo.png) center no-repeat
				background-size 10% 100%
				margin 0 auto
				padding 1em
			.promocion-nombre
				text-align center
				font-size .8em
				font-weight bold
				padding 1em


/*css para la pagina de la tradicion o historia*/

.Historia
	width 100%
	position relative
	&-arbol
		background url(../images/general/arbolhis.png) center no-repeat
		min-height 45em
		display none
	&-texto
		background #F6F5E1
		width 100%
		padding 1em 0 4em 0
		.Historia-titulo
			text-align center
			font-size 2em
			font-weight bold
			padding-bottom 1em
			.loader
				background url(../images/general/loader.gif) center no-repeat
				height 32px
				width 32px
				float left
				display none

		.Historia-contenido
			border-top 1px solid letras
			border-bottom 1px solid letras
		.Historia-menu
			text-align center
			position absolute
			padding-bottom 1em
			li
				display inline-block
				background letras
				min-width 30px
				border-radius 10px
				padding 5px 5px
				cursor pointer
				a
					color white





@import "media.styl"
