/*tablets*/
@media screen and (min-width:769px)
	nav
		background none
		text-align center
		border-bottom 1px solid letras
		position relative
		width 100%
		.decoration-left
			border-left 2px solid letras
	.full-content
		width 70%
		left 15%
		min-height 30em
		padding-top 1em

	.Redes
		width 90%
		left 5%
		.Redes-iconos
			width 45%
			display inline-block
			text-align left
			.icono
				padding 0
		.Redes-idiomas
			width 45%
			display inline-block
			text-align right

	.web-div-header
		height 86px
		background url(../images/tablet/landscape/marcoup.png) center no-repeat
		background-size 81%
	.footer
		bottom 20em
		.web-div-footer
			width 100%
			margin 0 auto
			background url(../images/tablet/landscape/marco-down.png) center no-repeat
			background-size 81%
			min-height 22em
			display block
			padding-bottom 20px
	.div-mensaje
			top 6em
	.contenido
		padding-top 3em
		.generaciones
			text-align center
			.generacion
				width 30%
				display inline-block
		.contacto
			padding-bottom 0.3em
			border-bottom 1px solid letras
			&-img
				width 49%
				display inline-block
			&-datos
				width 49%
				display inline-block
		.contacto-map
			height 30em

		.Producto
			.imagen-producto
				width 40%
				display inline-block
				img
					padding-top 1em
					width 8em
					position relative
					height 30em

			.contenido-producto
				width 40%
				margin-left 5%
				display inline-block
			&-img-pie
				text-align center
				font-size .8em
				padding 1em 0.3em

			&-titulo
				text-align center
				font-size 1.3em
				padding 1em 0
				margin 1em 0
				border-bottom 1px solid letras
				border-top 1px solid letras

			&-descripcion
				text-align justify
				padding 1em 0
				margin  1em 0

			&-subtitulo
				text-align center
				font-size 1.3em
				padding 1em 0
				margin 1em 0

			&-subdescripcion
				margin 1em 0
				padding 1em 0
				p
					text-align justify
		.Acta
			&-left
				width 40%
				display inline-block
				margin-left 5%
			&-right
				width 40%
				display inline-block
				margin-left 10%

	.inicio-subcontenido
		.inicio-desc
			width 44%
			display inline-block
			margin-left 1em
		.promocion
			width 45%
			display inline-block
			margin-left 5em
	.Historia
		position relative
		&-arbol
			display inline-block
			position relative
			width 25%
		&-texto
			top 8%
			min-height 15em
			right 0
			position absolute
			width 52%
			box-shadow 10px 10px 5px #999
			padding 1em 2em 4em 2em
			.quintag
				img
					margin-left 40%
					width 20%
		&-img
			img
				width 100%
				max-height 200px
				margin 0 auto
			.Historia-menu
				display none

	.contenido
		.Proceso
			&-modal
				padding-bottom 1em
				border-bottom 1px solid letras
			&-img
				display inline-block
				padding-right 1em
			&-modal-contenido
				width 70%
				font-size 1em
				display inline-block
			&-contenido
				font-size 1em
				position relative
				display inline-flex
				text-align center
			&-left
				width 45%
				margin 0 1em
			&-right
				width 45%
				padding 0 1em
			&-item-menu
				cursor pointer
				padding 0 .1em
				line-height 4.3em
				color white
				font-size 1.3em
				font-weight bold
				display inline-block
				background none
				width 10%
				height 4em
				background-size 100% 100%

	#mod-proceso-container
		width 643px
		height 414px
		margin 0 auto

	#mod-proceso-principal
		background url(../images/general/proceso_pm.jpg) top center no-repeat
		width 643px
		height 414px
		margin 0 auto
		position absolute

	#mod-proceso-tabla
		background url(../images/general/tablaproceso.png) top center no-repeat
		width 643px
		height 55px
		margin 0 auto
		position absolute

	#mod-proceso-proceso1
		position absolute
		width 100px
		height 181px
		left 5px
		top 189px
		cursor pointer

	#mod-proceso-proceso2
		position absolute
		width 87px
		height 103px
		left 88px
		top 84px
		cursor pointer

	#mod-proceso-proceso3
		position absolute
		width 55px
		height 256px
		left 178px
		top 44px
		cursor pointer

	#mod-proceso-proceso4
		position absolute
		width 72px
		height 147px
		left 235px
		top 147px
		cursor pointer

	#mod-proceso-proceso5
		position absolute
		width 180px
		height 92px
		left 230px
		top 298px
		cursor pointer

	#mod-proceso-proceso6
		position absolute
		width 131px
		height 140px
		left 310px
		top 150px
		cursor pointer

	#mod-proceso-proceso7
		position absolute
		width 56px
		height 211px
		left 446px
		top 149px
		cursor pointer

	#mod-proceso-proceso8
		position absolute
		width 123px
		height 154px
		left 507px
		top 238px
		cursor pointer

	#mod-proceso-links
		display none

	#mod-proceso-tabla2
		position absolute
		width 12px
		height 12px
		left 273px
		top 27px
		cursor pointer

	#mod-proceso-tabla3
		position absolute
		width 12px
		height 12px
		left 301px
		top 27px
		cursor pointer

	#mod-proceso-tabla4
		position absolute
		width 12px
		height 12px
		left 324px
		top 24px
		cursor pointer

	#mod-proceso-tabla5
		position absolute
		width 12px
		height 12px
		left 348px
		top 25px
		cursor pointer

	#mod-proceso-tabla6
		position absolute
		width 12px
		height 12px
		left 370px
		top 26px
		cursor pointer

	#mod-proceso-tabla7
		position absolute
		width 15px
		height 15
		left 393px
		top 24px
		cursor pointer

	#mod-proceso-tabla8
		position absolute
		width 15px
		height 15
		left 419px
		top 25px
		cursor pointer

	#mod-proceso-tabla9
		position absolute
		width 15px
		height 15
		left 442px
		top 25px
		cursor pointer

	#mod-proceso-maguey1
		background url(../images/general/maguey1.png) top center no-repeat
		width 39px
		height 34px
		cursor pointer
		left 125px
		top 163px
		position absolute
		transition 2s
		animation ease-in-out

	#mod-proceso-maguey2
		background url(../images/general/maguey2.png) top center no-repeat
		width 39px
		height 34px
		cursor pointer
		left 138px
		top 193px
		position absolute
		transition 2s
		animation ease-in-out

	#mod-proceso-maguey3
		background url(../images/general/maguey3.png) top center no-repeat
		width 39px
		height 29px
		cursor pointer
		left 126px
		top 228px
		position absolute
		transition 2s
		animation ease-in-out

	#mod-proceso-humo
		background url(../images/general/humo.png) top center no-repeat
		width 136px
		height 284px
		cursor pointer
		left 85px
		top 0px
		position absolute
		z-index 10

	#mod-proceso-burro
		background url(../images/general/burro.png) top center no-repeat
		width 72px
		height 72px
		/*cursor pointer;*/
		left 235px
		top 155px
		position absolute

	#mod-proceso-gusano
		background url(../images/general/gusano.png) top center no-repeat
		width 20px
		height 17px
		cursor pointer
		left 85px
		top 205px
		position absolute

	#mod-proceso-ramas
		background url(../images/general/ramas.png) top center no-repeat
		width 129px
		height 204px
		left 506px
		top 9px
		position absolute
		animation 3s ease 0s normal none infinite swing


	#mod-proceso-fuego
		/*background: url("../images/general/fuego.png") top center no-repeat;*/
		width 36px
		height 50px
		cursor pointer
		left 378px
		top 184px
		position absolute
		-moz-border-radius 20px
		-webkit-border-radius 20px
		-khtml-border-radius 20px
		border-radius 20px









/*desktop*/
@media screen and (min-width: 1280px)
	nav
		width 80%
		left 10%
	.web-div-header
		background url(../images/desktop/marcoup.jpg) center no-repeat
		background-size 81%
	.footer
		bottom 31em
		.web-div-footer
			width 100%
			margin 0 auto
			background url(../images/desktop/marco-down.jpg) center no-repeat
			background-size 81%
			min-height 33em
			display block
			padding-bottom 20px
	.contenido
		position relative
		.generaciones
			width 50%
		.mezcal
			position absolute
			top 7%
			right 0
			width 45%
			vertical-aling center
			background-size 95% 100%
