/*tablets*/
@media screen and (min-width:769px)
	nav
		background none
		text-align center
		border-bottom 1px solid letras
		position relative
		width 100%
		.decoration-left
			border-left 2px solid letras
	.full-content
		width 60%
		left 20%
		min-height 45em
		padding-top 1em

	.Redes
		width 90%
		left 5%
		.Redes-iconos
			width 45%
			display inline-block
			text-align left
			.icono
				padding 0
		.Redes-idiomas
			width 45%
			display inline-block
			text-align right

	.web-div-header
		height 86px
		background url(../images/tablet/landscape/marcoup.png) center no-repeat
		background-size 81%
	.footer
		bottom 20em
		.web-div-footer
			width 100%
			margin 0 auto
			background url(../images/tablet/landscape/marco-down.png) center no-repeat
			background-size 81%
			min-height 22em
			display block
			padding-bottom 20px
	.div-mensaje
			top 15em
	.contenido
		padding-top 3em
		.generaciones
			text-align center
			.generacion
				width 30%
				display inline-block
	.inicio-subcontenido
		.inicio-desc
			width 45%
			display inline-block
		.promocion
			width 45%
			display inline-block
	.Historia
		position relative
		&-arbol
			display inline-block
			position relative
			width 43%
		&-texto
			top 15%
			right 0
			vertical-aling center
			position absolute
			width 52%
			box-shadow 10px 10px 5px #999
			padding 1em 2em 4em 2em
			.Historia-menu
				display none



/*desktop*/
@media screen and (min-width: 1280px)
	nav
		width 80%
		left 10%
	.web-div-header
		background url(../images/desktop/marcoup.png) center no-repeat
		background-size 81%
	.footer
		bottom 31em
		.web-div-footer
			width 100%
			margin 0 auto
			background url(../images/desktop/marco-down.png) center no-repeat
			background-size 81%
			min-height 33em
			display block
			padding-bottom 20px
	.contenido
		position relative
		.generaciones
			width 50%
		.mezcal
			position absolute
			top 7%
			right 0
			width 50%
			vertical-aling center
